In [42]:
import pandas as pd
import numpy as np
import math
from collections import Counter
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [43]:
abet = pd.read_csv('Diabetes.csv')
abet

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [44]:
#Muhammad Daffa Regenta S - 1301184291 - IF4208
abet['Pregnancies'] = abet['Pregnancies']/(abet['Pregnancies'].max())
abet['Glucose'] = abet['Glucose']/(abet['Glucose'].max())
abet['BloodPressure'] = abet['BloodPressure']/(abet['BloodPressure'].max())
abet['SkinThickness'] = abet['SkinThickness']/(abet['SkinThickness'].max())
abet['Insulin'] = abet['Insulin']/(abet['Insulin'].max())
abet['BMI'] = abet['BMI']/(abet['BMI'].max())
abet['DiabetesPedigreeFunction'] = abet['DiabetesPedigreeFunction']/(abet['DiabetesPedigreeFunction'].max())
abet['Age'] = abet['Age']/(abet['Age'].max())
abet

     Pregnancies   Glucose  ...       Age  Outcome
0       0.352941  0.743719  ...  0.617284        1
1       0.058824  0.427136  ...  0.382716        0
2       0.470588  0.919598  ...  0.395062        1
3       0.058824  0.447236  ...  0.259259        0
4       0.000000  0.688442  ...  0.407407        1
..           ...       ...  ...       ...      ...
763     0.588235  0.507538  ...  0.777778        0
764     0.117647  0.613065  ...  0.333333        0
765     0.294118  0.608040  ...  0.370370        0
766     0.058824  0.633166  ...  0.580247        1
767     0.058824  0.467337  ...  0.283951        0

[768 rows x 9 columns]

In [45]:
def lapisan_set(data_latih,data_uji,x):
  if (x == 1):
    for i in range(len(abet)):
      if i in range(0,614):
        data_latih.append(abet.loc[i])
      else:
        data_uji.append(abet.loc[i])
  elif (x == 2):
    for i in range(len(abet)):
      if  i in range(0,461) or i in range (615,768):
        data_latih.append(abet.loc[i])
      else:
        data_uji.append(abet.loc[i])
  elif (x == 3):
    for i in range(len(abet)):
      if  i in range(0,307) or i in range (462,768):
        data_latih.append(abet.loc[i])
      else:
        data_uji.append(abet.loc[i])
  elif (x == 4):
    for i in range(len(abet)):
      if  i in range(0,154) or i in range (308,768):
        data_latih.append(abet.loc[i])
      else:
        data_uji.append(abet.loc[i])
  elif (x == 5):
    for i in range(len(abet)):
      if  i in range(0,154) or i in range (308,768):
        data_latih.append(abet.loc[i])
      else:
        data_uji.append(abet.loc[i])

In [46]:
dataset_training1,dataset_training2,dataset_training3,dataset_training4,dataset_training5 = [],[],[],[],[]
dataset_testing1,dataset_testing2,dataset_testing3,dataset_testing4,dataset_testing5 = [],[],[],[],[]

lapisan_set(dataset_training1,dataset_testing1,1)
lapisan_set(dataset_training2,dataset_testing2,2)
lapisan_set(dataset_training3,dataset_testing3,3)
lapisan_set(dataset_training4,dataset_testing4,4)
lapisan_set(dataset_training5,dataset_testing5,5)

In [47]:
#Menghitung Jarak
#Muhammad Daffa Regenta S - 1301184201 - IF4208
def euclideanDistance(data1,data2):
  sum = pow((data1['Pregnancies'] - data2['Pregnancies']),2) + pow((data1['Glucose'] - data2['Glucose']),2) + pow((data1['BloodPressure'] - data2['BloodPressure']),2) + pow((data1['SkinThickness'] - data2['SkinThickness']),2) + pow((data1['Insulin'] - data2['Insulin']),2) + pow((data1['BMI'] - data2['BMI']),2) + pow((data1['DiabetesPedigreeFunction'] - data2['DiabetesPedigreeFunction']),2) + pow((data1['Age'] - data2['Age']),2)  
  return math.sqrt(sum)

In [48]:
#Muhammad Daffa Regenta S - 1301184291 - IF4208
#kNN
def klasifikasi(objek1,objek2,k):
  data1,data2 = [], []
  for i in range(len(objek2)):
    temp1, temp2 = [], []
    for j in range(len(objek1)):
      total = euclideanDistance(objek1[j],objek2[i])
      temp1.append(total)
    
    data1.append(objek2[i]['Outcome'])
    hasil = np.argsort(temp1)[:k]

    for l in hasil:
      temp2.append(objek1[l]['Outcome'])
    select = Counter(temp2).most_common(1)
    data2.append(select[0][0])
  acy = accuracy_score(data1,data2)
  return acy

In [ ]:
#main


temp_acy, temp_k = [], []
k = 1
for hitung in range(0,20):
  skuy1 = klasifikasi(dataset_training1,dataset_testing1,k)
  skuy2 = klasifikasi(dataset_training2,dataset_testing2,k)
  skuy3 = klasifikasi(dataset_training3,dataset_testing3,k)
  skuy4 = klasifikasi(dataset_training4,dataset_testing4,k)
  skuy5 = klasifikasi(dataset_training5,dataset_testing5,k)
  hasil = ((skuy1 + skuy2 + skuy3 + skuy4 + skuy5)/5)*100
  print('Nilai K',k,'Dengan Akurasi ',hasil)
  temp_k.append(k)
  k+=2
  temp_acy.append(hasil)

Nilai K 1 Dengan Akurasi  68.21784666945958

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.scatter(temp_k,temp_acy,color='blue')
ax.set_title('Muhammad Daffa Regenta S 1301184291 (IF-42-08)')
ax.set_xlabel('Nilai K')
ax.set_ylabel('Akurasi')
plt.show()
for i in range(0,len(temp_acy)):
  if (temp_acy[i] == max(temp_acy)):
    print("Nilai k Terbaik :",(temp_k[i]))
print("Akurasi Tertinggi :",max(temp_acy))